/* Universal-styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.general-but{
    border-radius: 8px;
    background-color: #E55473;
    display: inline-flex;
    padding: 17px 34px;
    color: white;
    border-style: none;
    font-size: 17px;
}
/* first-section-styles */
.first-section{
    height: 100vh;
    background-color:pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-div{
    margin-left: 50px;
}
.first-section-head{
    color: #272727;
    font-size: 65px;
    font-weight: 800;
}
.first-section-text{
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
    margin: 30px 0px;
}
.first-section-img{
    width: 390px;
    height: 500px;
    margin:60px 50px 0px 0px;
    padding-top: 20px;
}

/* Second-settion */
.second-tex-div{
    text-align: center;
    margin-top:50px;
    padding:0% 30%;
}
.second-section-head{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.second-section-text{
    color:#27272799 ;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 50px;
}
.second-img-div{
    display: flex;
    justify-content: space-evenly;
}
.child-a{
    background-color:rgba(167, 33, 98, 0.15) ;
    width: 364px;
    height: 438px;
    border-radius: 200px 200px 0px 0px;
}
.general-img{
    margin: 118px 0px 0px 30px;
}
.child-b{
    background-color:rgba(5, 151, 160, 0.15);
    width: 364px;
    height: 438px;
    border-radius: 200px 200px 0px 0px;
}
.child-c{
    background-color:rgba(71, 125, 17, 0.15) ;
    width: 364px;
    height: 438px;
    border-radius: 200px 200px 0px 0px;
}

/* fourth section */
.fourth-section{
    width: 1265px;
    height: 620px;
    background-color:#E554730D ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0px;
}
.fourth-section-head{
    font-size: 40px;
    font-weight: 800;

}
.fourth-section-text{
    margin: 20px 0px;
}
/* five-section-styles */
.fiveth-text-div{
    text-align: center;
    margin-top:50px;
    padding:0% 30%;
}
.fiveth-img-div{
    display: flex;
    justify-content: space-evenly;
    margin: 0% 10% 10% 10%;
}
.fiveth-div-head{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.fiveth-div-para{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
}

.contenar{
    position: absolute;
    text-align: center;
}
.head-content{
    position: absolute;
}

footer{
    width: 1278px;
    height: 800px;
    background-color: black;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 300px;
}
span{
    color: red;
}
.footer-para{
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
}
footer-para2{
    color: white;
    margin-top: 15px; 
}
.margin-b{
    margin-bottom: 30px;
}
/* sixth-section */
